@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

.timeline-page-wrap {
    width: 100%;
}

.timeline-box-wrap {
    @include m.box(1rem 0rem, 1rem, v.$light);

    .timeline-head {
        padding: 0 1.5rem;
        margin-bottom: 1rem;

        h3 {
            @include m.para(1.5rem, 600, v.$btnbg);
        }
    }

    .main-timeline-area {
        position: relative;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        background: v.$light;
        padding-bottom: 1rem;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 49%;
            height: 0.5rem;
            min-width: 100%;
            transform: translateY(-49%);
            background: #E5E9F2; 
        }
    }

    .timeline-top {
        display: flex;

        div {
            margin-right: 20%;
            margin-top: auto;
            margin-bottom: 0;
            min-width: 300px;
        }
    }

    .timeline-bottom {
        display: flex;

        div {
            margin-left: 20%;
            margin-top: 0;
            min-width: 300px;
        }
    }

    .timeline-item-box {
        margin-left: .5rem;
        position: relative;
        margin-bottom: auto;
        height: 50%;
        width: 25%;

        &:before {
            position: absolute;
            content: "";
            left: 2.5rem;
            bottom: 0%;
            height: 100%;
            width: 0.25rem;
            background: linear-gradient(0deg, #F37F14 0.86%, rgba(255, 126, 71, 0.4) 41.58%, rgba(255, 98, 98, 0) 95.31%);
            z-index: 5;
        }

        ul {
            background: v.$light;
            box-shadow: 0px 4px 12px rgba(45, 24, 17, 0.08);
            border-radius: 12px;
            display: inline-flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 0.5rem;
            margin-left: 3rem;

            li {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #373D47;
                border-radius: 2rem;
                padding: .3rem 1rem;
                background-color: v.$third;
                margin-bottom: 0.5rem;
                display: inline-block;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            li.active {
                background-color: #AEFBB2;
            }

            li.d-active {
                background-color: #F44A4A;
                color: v.$light;
            }
        }

        span.date {
            background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
            border-radius: 3rem;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            padding: 6px 12px;
            display: inline-block;
            color: #FFFFFF;
            position: absolute;
            z-index: 9;
        }
    }

    .time-bottom-item {

        // margin-top: auto;
        // margin-bottom: inherit; 
        // margin-top: 11.5rem;
        &:before {
            background: linear-gradient(92.53deg, #F37F14 2.17%, rgba(255, 126, 71, 0.4) 52.77%, rgba(255, 98, 98, 0) 94.69%);
            top: 3px;
        }
    }

}

body {
    overflow-x: hidden;
}

/* width */
.main-timeline-area::-webkit-scrollbar {
    height: 6px;
    border-radius: 1rem;
}

/* Track */
.main-timeline-area::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.main-timeline-area::-webkit-scrollbar-thumb {
    background: v.$gdbg;
    border-radius: 1rem;
}

/* Handle on hover */
.main-timeline-area::-webkit-scrollbar-thumb:hover {
    background: #555;
}