@use './util/variabls' as v;


.video-container {
  position: relative;
  // height: 500px;
  display: flex;
  &.fullscreen {
    height: 100%;
    width: 100%;
    background: black;
    display: flex;
    .control--fullscreen {
      .fa-expand {
        display: none;
      }
      .fa-compress {
          display: inline-flex;
      }
    }
  }
    &__video {
        height: 100%;
        position: relative;
        z-index: 1;
        &::-webkit-media-controls {
      display:none !important;
    }
    }
    &__controls {
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 100%;
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        height: 80px;
        background: linear-gradient(0deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.35) 40%,transparent);
        opacity: 0;
        transition: all 150ms ease;
        &.visible {
          opacity: 1;
        }
        .progress {
          width: calc(100% - 20px);
      cursor: pointer;
      height: 24px;
      position: absolute;
      left: 0;
      top: 20px;
      margin-left: 10px;
      background-color: transparent;
      margin-right: 10px;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 4px;
            background: rgba(255, 255, 255, .35);
          }
          &__current {
            position: absolute;
            top: 50%;
            left: 0;
            height: 4px;
            background: v.$gdbg;
            z-index: 2;
            transform: translateY(-50%);
            &:before {
              content: '';
              display: block;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(50%, -50%);
              border-radius: 50%;
              border: 4px solid white;
          width: 6px;
          height: 6px;
          background: v.$gdbg;
            }
          }
            .tooltip {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100px;
                video {
                    width: 100%;
                }
            }
        }
        .control {
          border: 0;
          padding: 0;
          background: transparent;
          outline: none;
          margin-right: 15px;
          cursor: pointer;
          width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
          &:hover {
            i {
              color: v.$primary;
            }
          }
          i {
            font-size: 16px;
            color:  v.$secondary;
          }
            &--play {
              .fa-pause {
                    display: inline-flex;
                }
                .fa-play {
                      display: none;
                }
                &.paused {
                    .fa-play {
                      display: inline-flex;
                    }
                    .fa-pause {
                       display: none;
                    }
                }
            }
            &--volume {
              width: unset;
              &__button {
                width: 20px;
                display: flex;
                justify-content: flex-start;
                .fa-volume-up {
                  display: inline-flex;
                  }
                 .fa-volume-off {
                    display: none;
                 }
              }
              &__slider {
                  display: flex;
                  opacity: 0;
                  -webkit-appearance: none;
                  width: 90px;
                  margin-left: 10px;
                  &::-webkit-slider-runnable-track {
              width: 100%;
              height: 4px;
              cursor: pointer;
              background: rgba(0, 0, 0, .5);
            }
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              margin-top: -5px;
              height: 14px;
              width: 4px;
              border-radius: 0;
              background-color: v.$primary;
              cursor: pointer;
            }
            &:focus {
              outline: none;
            }
            &:hover {
              opacity: 1;
            }
                }
              &:hover {
                .control--volume__slider {
                  opacity: 1;
                }
              }
                &.muted {
                  .fa-volume-up {
                    display: none;
                  }
                  .fa-volume-off {
                  display: inline-flex;
                }
                }
            }
            &--fullscreen {
                margin-left: auto;
                margin-right: 0;
                .fa-compress {
                  display: none;
                }
            }
        }
    }
}