/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
.env
/.idea
/.vscode
database.sqlite
.DS_Store
composer.lock
/public/assets/images/product
/public/assets/images/module
/public/assets/images/lesson
/public/assets/images/course